{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
<main class="main">
    <h1 class="registration-title">Enregistrement</h1>
    <div class="form-container">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email, {'attr': {class: 'input', 'placeholder': 'Email'}}) }}
            {{ form_row(registrationForm.repeatedPassword.first, {'attr': {class: 'input', 'placeholder': 'Mot de passe'}}) }}
            {{ form_row(registrationForm.repeatedPassword.second, {'attr': {class: 'input', 'placeholder': 'Répéter le mot de passe'}}) }}
            <button type="submit" class="login-submit">S'enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>
</main>
{% endblock %}