<nav class="navbar">
	<ul>
		<li class="nav-item {{ app.request.get(" _route") in [" home_index"] ? " navbar-active" : " " }}">
			<a class="nav-link" href="/">Accueil</a>
		</li>
		<li class="nav-item {{ app.request.get(" _route") in [" project_index"] ? " navbar-active" : " " }}">
			<a class="nav-link" href="{{ path('project_index') }}">Projets</a>
		</li>
		<li class="nav-item {{ app.request.get(" _route") == " skills_index" ? " navbar-active" : " " }}">
			<a class="nav-link" href="{{ path('skills_index') }}">Technologies</a>
		</li>
		<li class="nav-item {{ app.request.get(" _route") == "#" ? " navbar-active" : " " }}">
			<a class="nav-link" href="#">CV</a>
		</li>
		<li class="nav-item {{ app.request.get(" _route") == " contact" ? " navbar-active" : " " }}">
			<a class="nav-link" href="{{ path('contact') }}"">Contact</a>
		</li>
	</ul>
</nav>
