{% extends 'base.html.twig' %}

{% block title %}
	Project index
{% endblock %}

{% block body %}
	<main class="main">
		<div class="cards-container">
			{% for project in projects %}
				<div class="card">
					<img src="{{ project.image }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{ project.title }}</h5>
						<p class="card-text">{{ project.description }}</p>
					</div>
					<div class="card-body">
						<a href="{{ project.link }}" class="btn btn-primary" target="_blank">lien</a>
					</div>
				</div>
			{% endfor %}
		</div>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('project_new') }}">Ajouter un nouveau Projet</a>
		{% endif %}
	</main>

{% endblock %}
