{% extends 'base.html.twig' %}

{% block title %}
	Project index
{% endblock %}

{% block body %}
{# {% for project in projects %}

	<div class="responsive">
	<div class="gallery">
		<a target="_blank" href="{{ project.image }}">
		<img src="{{ project.image }}" alt="Cinque Terre" width="600" height="400">
		</a>
		<div class="desc">{{ project.title }} <br/> {{ project.description }}</div>
		<div>
			<a href="{{ project.link }}" class="btn btn-primary">lien</a>
		</div>
	</div>
	</div>
<div class="clearfix"></div>
{% endfor %} #}
	<main class="main">
		<div class="cards-container">
				{% for project in projects %}
					<div class="card" style="width: 18rem;">
						<img src="{{ project.image }}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{ project.title }}</h5>
							<p class="card-text">{{ project.description }}</p>
						</div>
						<div class="card-body">
							<a href="{{ project.link }}" class="btn btn-primary">lien</a>
						</div>
					</div>
					<div class="spacer"></div>
				{% endfor %}
				
		</div>

		{% if is_granted('ROLE_ADMINISTRATOR') %}
			<a href="{{ path('project_new') }}">Create new</a>
		{% endif %}
	</main>

{% endblock %}
